<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 97vh;
        }
        .login-form {
            border-radius: 5px;
            width: 300px;
            background-color: rgb(204, 202, 199);
        }
        .login-form .login-header {
            border-radius: 5px 5px 0 0;
            padding: 10px;
            font-size: 30px;
            background-color: rgb(71, 155, 233);
            border-bottom: 1px solid #666;
        }
        .login-form .login-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }
        .login-form .login-body .form-control {
            margin-bottom: 5px;
        }
        .login-form .login-body .form-control input {
            font-size: 15px;
            width: 250px;
            padding: 3px;
        }

        .login-form .login-body .form-control button {
            font-size: 17px;
            background-color: rgb(44, 134, 236);
            border-radius: 5px;
            color: #ffffff;
            margin-top: 5px;
            padding: 3px 5px;
        }
    </style>
</head>
<body>
    {{{body}}}
</body>
</html>